yourdomain.com {
    root * /var/www/blog
    encode zstd gzip
    try_files {path}.html {path}
    file_server

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    handle_errors {
        rewrite * /404.html
        file_server
    }
}

www.yourdomain.com {
    redir https://yourdomain.com{uri} permanent
}
